body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    padding-top: 3%;
    padding-bottom: 20px;
    background-color: #1f2937;
    background-image: url('../about_page_photos_lecaphe/AboutHeaderDSCF7769.jpg');
    background-size: 100% 100%;
}

.header {
    background-image: url('LACAPHEPIC3.jpg'); /* Placeholder */
    background-size: cover;
    background-position-y: -600px;
    background-repeat: no-repeat;
    height: 500px;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: white;
}

.logo {
    width: 75px;
    height: 120px;
    margin: 0;
}

.nav-bar li:last-child {
    margin-top: -7px;
}

.nav-bar-link {
    text-decoration: none;
    color: white;
}

.nav-bar-link p {
    margin: 0px;
    transition: transform 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-bar-link:hover p {
    transform: scale(0.9);
}

.inside_header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.inside_header h1 {
    margin: 0;
    font-size: 6em;
    font-family: 'Karma', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content-section, .owners-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: chocolate; /* For content-section */
}

.content-section div, .content-section img,
.owners-section div, .owners-section img {
    flex-basis: 49%;
}

.content-section p, .content-section h2,
.owners-section p, .owners-section h2 {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    flex-basis: 33.333%;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #000;
    color: #fff;
    padding-left: 50px;
    margin: 0;
}

.container, .footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right img {
    width: 30px;
    height: 30px;
}

.footer-right p {
    margin-bottom: 20px;
    text-align: left;
    text-decoration: none;
    color: white;
    padding-right: 10px;
    font-family: Georgia, sans-serif;
    line-height: 1.5;
}

.map-footer {
    margin-top: 0;
    padding-bottom: 10px;
}

.content-section img, .owners-section img, .gallery img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.footer-nav-bar {
    text-align: center;
    background-color: #000;
}

.footer-nav-bar a, .footer-nav-bar a:visited {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-nav-bar a:hover {
    text-decoration: underline;
}
